@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

/* Mixin */
@font-base: 'Roboto slab','sans-serif';

@color_base: rgba(101,100,119,1);
@color_complement1: spin(@color_base, 180);
@color_complement2: darken(spin(@color_base, 180), 5%);
@color_lighten1: lighten(@color_base, 15%);
@color_lighten2: lighten(@color_base, 30%);

/* Implementation */
.color_1   {color: @color_base;}
.color_2   {color: @color_complement1;}
.color_3  {color: @color_complement2;}
.color_4  {color: @color_lighten1;}
.color_5  {color: @color_lighten2;}

@image-logo: url('img/pathos.png');

.box(@align, @pack) {
  box-sizing: border-box;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display: box;
  -webkit-box-align:@align;
  -moz-box-align: @align;
  -ms-box-align: @align;
  box-align:@align;
  -moz-box-pack: @pack;
  -ms-box-pack: @pack;
  -webkit-box-pack:@pack;
  box-pack:@pack;
}

.vertical-box(@align, @pack) {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display: box;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align:@align;
  -moz-box-align: @align;
  -ms-box-align: @align;
  box-align:@align;
  -moz-box-pack: @pack;
  -ms-box-pack: @pack;
  -webkit-box-pack:@pack;
  box-pack:@pack;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

* {
  opacity:1;  /* make things invisible upon start */
   animation: fadein .7s;
   -moz-animation: fadein .7s; /* Firefox */
   -webkit-animation: fadein .7s; /* Safari and Chrome */
   -o-animation: fadein .7s; /* Opera */
}

.size(@w: 0, @h: 0){
  width: @w;
  height: @h;
}


.body {
  margin:0;
  font-family: @font-base;
  min-width: 900px;
}

a {
  text-decoration:none;
}

h2 {
  margin: 5px 0 0 0;
  padding: 0;
  color: @color_complement1;
  font-size: 18px;
}

select {
  .link;
  -webkit-appearance: none;
  border: none;
  padding: 5px 10px 20px 10px;
  margin: 5px 0;
  border-bottom: 1px dashed rgb(139, 138, 157);
  font-family: 'Roboto slab','sans-serif';
  font-size: 16px;
  width: 100%;
}

.wrapper {
  display:-webkit-box;
  .size(100%,100%);
  max-width: 1480px;
  .vertical-box(center,center);
}

.section {
  .vertical-box(center,center);
}

.device {
  background: url("../img/device/iphone4.png");
  .size(380px,744px);
  .box(center,center);
}
.device.hide {
  background: #fff !important;
}

.page {
  .size(320px,470px);
  position: relative;
  background: white;
  top:-4px;
  left:2px;
}

label {
  display: block;
  font-weight:bold;
  font-size: 18px;
  color: @color_complement1;
}

input {
  border: 0;
  .size(90%,25px);
  padding: 0 3px;
  font-family:  @font-base;
  font-size: 14px;
  margin: 5px 0;
  color: @color_lighten2;
  &[type=submit] {
    background: @color_base;
  }
  &[type=text] {
    border-bottom: 1px solid @color_complement1;
  }
  &.filter {
    border-bottom: 1px solid @color_complement1;

  }
}

.link {
  color: @color_base;
  margin: 5px 0 10px 0;
}

.log {
  position: fixed;
  width: 50%;
  top: 15%;
  height: 50%;
  left: 25%;
  padding: 3%;
  border: 1px solid @color_complement1;
  background: fadeout(@color_base, 10%);

  h2 {
    color: @color_lighten2;
  }
}

.index {
  position: fixed;
  top:0;
  padding: 0 10px 10px 10px;
  border-bottom-right-radius: 6px;
  width: 250px;
  -webkit-transition:all 1s;
  overflow-x: scroll;
  height: 100%;
  &.hidden {
    left: -280px;
  }
  .toggle {
    content: '';
    .size(40px,20px);
    position: absolute;
    top: 1%;
    left: 92%;
    cursor: pointer;
  }
}


.list {
  list-style: none;
  padding: 5px 10px 20px 10px;
  margin: 5px 0;
  border-bottom: 1px dashed @color_lighten1;
}

iframe {
  .size(317px,480px);
  position: relative;
  top: 21px;
  border-radius: 4px;
  overflow: hidden;
  margin:0;
  padding: 0;

  &.chrome {
    border: 4px solid gray;
    border-top: 8px solid @color_base;
    border-bottom: 20px solid @color_base;
  }
}

.inspector {
  font-family:sans-serif;
  background: lighten(@color_lighten1, 60%);
  position: absolute;
  left: 70%;
  top: 0;
  width: 30%;
  color:white;
  padding: 10px;
  font-size: 11px;
  border-left: 1px dashed @color_complement2;
  overflow-y: scroll;
  max-height: 100%;
}


.comment {
  position: absolute;
  top: 10%;
  .size(100px,50%);
  left: 22%;
  border-right: 1px solid @color_lighten2;
  .box(center,center);
  font-style: italic;
  color: @color_complement1;
  padding: 40px 5px 40px 0;

  &:before {
    content: '';
    position: absolute;
    width: 11px;
    border-top: 2px solid @color_lighten2;
    display: block;
    left: 100%;
    top: 0;
  }

  &:after {
    content: '';
    position: absolute;
    width: 11px;
    border-top: 2px solid @color_lighten2;
    display: block;
    left: 100%;
    bottom: 0;
  }
}

.notification {
  position: fixed;
  .size(30%,30%);
  .box(center,center);
  min-width: 250px;
  min-height: 250px;
  border-radius: 8px;
  background: fadeout(@color_lighten2,5%);
  color: @color_complement2;
  z-index: 100;
  top: 35%;
  left: 35%;
  text-align: center;
}

.meta {
  position: absolute;
  top: 0;
  right: 0;
  word-break: break-all;
  font-size: 14px;
  background: fadeout(@color_lighten2,5%);
  color: @color_base;
  padding: 0 12px 5px;
  border-bottom-left-radius: 8px;
  min-width: 340px;
  box-shadow: 2px 2px 8px @color_complement2;
  letter-spacing: 1px;
}

footer {
  position: fixed;
  bottom: 40px;
  height: 40px;
  width: 95%;
  .size(95%,40px);
  margin: 200px 0 0 0;
  font-size: 10px;
  padding: 5px 5px 20px 5px;
  text-align: right;

  .logo {
    background: @image-logo;
    background-repeat: no-repeat;
    background-size: 10%;
    width: 80px;
    height: 80px;
    display: inline-block;
  }
}

.rule {
  line-height: 20px;
  color: @color_base;
}